<!-- Encabezado fijo -->
<header class="encabezado-fijo" [class.no-supervisor]="!esSupervisor">
  <div class="login-corner" [class.align-center]="!esSupervisor">
    <ng-container *ngIf="auth.getRol(); else loginBtn">
      <div class="user-info">
        👤 {{ auth.getNombre() }} ({{ auth.getRol() }})
      </div>

      <div class="acciones" [class.justify-center]="!esSupervisor">
        <!-- Botones visibles solo para Supervisor -->
        <ng-container *ngIf="esSupervisor">
          <button class="export-btn user" (click)="abrirModal()">👤 Usuarios</button>
          <button class="export-btn add" (click)="abrirFormularioManual()">➕ Agregar Tarjetas</button>
          <button class="export-btn delete" (click)="abrirFormularioeliminart()">✖️ Eliminar Tarjetas</button>
        </ng-container>

        <!-- Botones disponibles para todos los roles -->
        <ng-container *ngIf="auth.getRol()">
          <button class="export-btn excel" (click)="exportarExcel()">📄 Exportar Excel</button>
          <button class="export-btn pdf" (click)="exportarPDF()">🧾 Exportar PDF</button>
          <button class="export-btn logout" (click)="logout()">🔒 Cerrar sesión</button>
        </ng-container>
      </div>
    </ng-container>

    <ng-template #loginBtn>
      <button mat-stroked-button color="primary" (click)="abrirLogin()">Login 🔐</button>
    </ng-template>
  </div>
</header>


<!-- Espacio para evitar que el header tape el contenido -->
<div style="height: 160px;"></div>



<h2>Escaneo RFID</h2>

<form (ngSubmit)="enviarRegistro()" #rfidForm="ngForm" style="margin-bottom: 20px;">
  <label>Escanea tu tarjeta para registrar acceso:</label><br />
  <input
    type="text"
    [(ngModel)]="nuevoRegistro.idRegistro"
    name="idRegistro"
    (input)="onRFIDScanned()"
    autofocus
    required
    placeholder="ID tarjeta RFID"
  /><br />
</form>

<h3>Registros RFID</h3>

<div class="tabla-responsive">
  <table class="tabla-rfid">
    <thead>
      <tr>
        <th>Id</th>
        <th>Id Registro</th>
        <th>Acceso</th>
        <th>Nombre</th>
        <th>Fecha / Hora</th>
        <th *ngIf="isSupervisor()">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reg of registros">
        <td>{{ reg.id }}</td> 
        <td>{{ reg.idRegistro }}</td>
        <td>{{ reg.idAccesos ? 'Sí' : 'No' }}</td>
        <td>{{ reg.nombre }}</td>
        <td>{{ reg.fecha | date: 'MMM d, y – h:mm a' }}</td>

        <td *ngIf="isSupervisor()">
          <button (click)="editarRegistro(reg)">Editar</button>
          <button (click)="eliminarRegistro(reg.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
